/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */
*, ::after, ::before{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    color:#2e2f42;
    background-color:#fff;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
img{
    display: block;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region header */
.page-header{
background-color:#fff;
}
.container-heder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
}
.header-left{
    display: flex;
    align-items:center;
    gap: 76px;
}
.nav-list{
    display: flex;
    gap: 40px;
}
.logo {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.accent {
    color: #4D5AE5;
}
.page-nav{
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
}
.nav-link{
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.contact-link {
    display: block;
    padding: 24px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    gap: 40px;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}
.social-list{
    font-family: "Roboto",
        sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-style: normal;
    display: flex;
    gap: 40px;
}

/* #endregion header */
/* #region main */

/* #hero section */
.hero{
    background-color: #2e2f42;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
    margin: 0 auto 48px;
}
.hero-button {
    display: block;
    margin: 0 auto;

    min-width: 169px;
    height: 56px;
    padding: 16px 32px;

    background-color: #4d5ae5;
    color: #ffffff;

    border: none;
    border-radius: 4px;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
/* #endhero section */
h2{
    font-weight: 700;
    color:#2e2f42;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align:center;
    line-height: 1.11;
    margin: 0;
}
.features-list{
    display: flex;
    padding: 120px 0;
    gap: 24px;
}
.features-item {
    width: 264px;
    height: 104px;
}
.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin: 0 0 8px 0;
}
.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}
h3 {
    color:#2e2f42;
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
}
p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color:#434455;
}
.team-section{
    background-color:#F4F4FD;
    padding: 120px 0;
}
.team-hero-title{
    margin-bottom: 72px;
}
.team-list{
    display: flex;
    gap: 24px;
}

.team-member {
    background-color: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
 }

.team-member li{
    padding: 0 24px;
}
.team-content{
    padding: 32px 0;
}

.team-title{
    text-align: center;
}
.team-text{
    text-align: center;
    margin: 8px 0 8px 0
}
.portfolio-section{
    padding: 120px 0;
}
.portfolio-section h2{
    margin: 0 0 72px 0;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
}
.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    margin: 0 0 8px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    margin: 0;
}
/* #endregion main */
/* footer */
footer{
    background-color: #2e2f42;
    color: #f4f4f4;
    text-align: left;
    padding: 100px 0;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text{
    color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    max-width: 264px;
    margin: 0;
}